/* Profile.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
  }
  
  .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .profile-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #0077cc;
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .profile-email {
    font-size: 16px;
    color: #555;
    margin-top: 10px;
  }
  
  .edit-btn, .back-btn {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-left:10px;
  }
  
  .edit-btn:hover, .back-btn:hover {
    background-color: #005fa3;
  }
  
  .back-btn {
    margin-top: 10px; /* Add some space between buttons */
  }
  